---
import Layout from "@/layouts/Layout.astro";
import StandardFullbleed from "@/layouts/StandardFullbleed.astro";

import mainConfig from "@/config/main";
import pageConfig from "@/config/pages/about";

import SectionPadding from "@/components/section/SectionPadding.astro";

import { Separator } from "@/components/ui/separator";
import CardStack from "@/components/page/about/CardStack.astro";
import People from "@/components/page/about/People.astro";
import { cn } from "@/lib/utils";
---

<StandardFullbleed
  key="about"
  title="About"
  nav={[{ node: "PACS LLC", href: "/" }, { node: "About" }]}
>
  <section
    class={cn(
      "grid grid-cols-1 sm:grid-cols-[1fr_2fr] w-[80%] place-self-center",
      "gap-8 gap-x-32",
      "col-[content]",
      "text-xl",
      "font-atkinson font-medium",
    )}
  >
    <SectionPadding class="sm:col-[1/-1]" />

    <CardStack class={["col-[1/-1]"]} />

    <div
      class={cn(
        "px-4 sm:px-0 flex flex-col gap-4 sm:gap-8 col-[1/-1] lg:col-[2/-1]"
      )}
    >
      <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-center">
        Who we are
      </h1>
      <Separator className="w-[50%] sm:w-full" />
      <div
        class={cn(
          "[&>p]:py-2 [&>p]:first:pb-4 [&>p]:last:pt-4 columns-1 xl:columns-2"
        )}
      >
        {pageConfig.whoWeAre.map((paragraph) => <p>{paragraph}</p>)}
      </div>
      <div class={cn(" text-right")}>&mdash; Pablo Garce, President</div>
    </div>
  </section>

  <People />
</StandardFullbleed>
