---
import Layout from "@/layouts/Layout.astro";

import config from "@/config/main";
import { config as pageConfig } from "@/config/pages/services";

import Header from "@/components/layout/Header.astro";
import Hero from "@/components/section/Hero.astro";
import { cn } from "@/lib/utils";
import StandardFullbleed from "@/layouts/StandardFullbleed.astro";
import SectionPadding from "@/components/section/SectionPadding.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button";
---

<StandardFullbleed
  key="services"
  title="Services"
  nav={[{ node: "PACS LLC", href: "/" }, { node: "Services" }]}
>
  <section class={cn("col-[content]", "flex flex-col")}>
    <SectionPadding />
    <h1 class={cn("text-4xl", "font-bold", "text-center")}>Services</h1>
    <SectionPadding />
    <div class={cn("grid", "lg:grid-cols-2", "gap-4")}>
      {
        pageConfig.services.items.map((service) => (
          <Card>
            <CardHeader>
              <CardTitle>{service.title}</CardTitle>
              <CardDescription>{service.shortDescription}</CardDescription>
            </CardHeader>
            <CardContent>
              <p>{service.mediumDescription}</p>
            </CardContent>
            <CardFooter>
              <Button variant="outline">Learn More</Button>
            </CardFooter>
          </Card>
        ))
      }
    </div>
  </section>
</StandardFullbleed>
