---
import Layout from "@/layouts/Layout.astro";

import config from "@/config/main";
import pageConfig from "@/config/pages/index";

import Header from "@/components/layout/Header.astro";
import Hero from "@/components/section/Hero.astro";
import { cn } from "@/lib/utils";
---

<Layout title={config.shortTitle} class="w-full grid-rows-[auto_8px_auto]">
  <Header class="row-[1/3] z-10" />
  <main
    class={cn(
      "col-[fullbleed] row-[2/4]",
      "grid grid-cols-subgrid",
      "relative",
      )}
  >
    <div class="w-full h-[8px]"></div>
    <Hero
      title="Services"
      nav={[{ node: "PACS LLC", href: "/" }, { node: "Services" }]}
    />
  </main>
  <footer class={cn("px-4 pb-4 pt-2", "col-[fullbleed]", "")}>f</footer>
</Layout>
